<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Documentation</h2>
        </header>
        <p>This site contains documentation for the project; including sources used, resources used, copyright checklist, works logs, etc.</p>

    </div>

</section>
